DATABASE_URL=http://<IP>:<PORT>
DATABASE_PULL_URL=http://<IP>:<PORT>
DATABASE_PUSH_URL=http://<IP>:<PORT>
DATABASE_LEADERBOARDS_URL=http://<IP>:<PORT>/api/leaderboards

NODE_ENV=development | production | testing
DATABASE_CONNECTION_STRING=postgresql://username:password@localhost:5432/database_name
REVCAT_GOOGLE=RevCat_Google_Key_Here
REVCAT_APPLE=RevCat_Apple_Key_Here